# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Production build
/dist/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Webpack output
/webpack-stats.json

# Log files
*.log

# IDE specific files
.vscode/
.idea/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Project specific
test/
dev.json

*-example.test.tsx
