@tailwind base;
@tailwind components;
@tailwind utilities;

.__narraleaf_content-player * {
    user-select: none;
}

.__narraleaf_content-player img {
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.__narraleaf_content-player .pointer-disabled {
    pointer-events: none;
}

.__narraleaf_content-player .pointer-disabled > :not(.pointer-disabled) {
    pointer-events: auto;
}

.pointer-events-auto {
    pointer-events: auto;
}

.pointer-events-none {
    pointer-events: none;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.pointer-events-auto-rest * {
    pointer-events: auto;
}
